<!DOCTYPE html>
<html>
  <% include ../../includes/head %>
<body>
  <% include ../../includes/navbar %>
  <div class="container">
    <h4>Register Success. Click to <a href="/">here</a> to go back to home.</h4>
  </div>
</body>
</html>